body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
    font-family: 'Lato', sans-serif;
}

.container {
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    width: 50vw;
}

input, button {
    margin: 10px 0;
    padding: 10px;
}